/* 
AlPhaD UI - Posts UI

* Version: 1.0
* Build Date    :  07-04-2018 
* Last Update   :  - []
* Author: ALPhA D
* Website: www.alphadsy.com
* Github: www.github.com/alphadsy/
* License : MIT 

[Layout]

[Color codes]

[Typography]

[content table]

- post main css 
  - post main css (lg)
- #post1 css
  - #post1 css (lg)
.
.
.    
- demo css (for demo purpose only)

*/

/* =======================================
 post
========================================*/
.post {
  position: relative;
  height: 500px; 
  width: 75vw;
  margin: auto;
  margin-bottom: 1rem;
  color: #fff;
}
.post .caption {
  position: relative;
  float: left;
  height: inherit;
  padding: 2rem;
}
.post .img-container {
  position: relative;
  float: left;
  height: inherit;
}
.post .img-container .img {
  width: 100%;
  height: 100%;
}
.post .author {
  position: relative;
  margin-bottom: 5rem;
}
.post .author .avatar {
  position: relative;
  float: left;
  width: 3rem;
  border-radius: 50%;
}
.post .author .name {
  position: relative;
  float: left;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 1rem;
}
.post .caption .text {
  margin: 1rem 0;
}
.post .category {
}
.post .meta {
  size: .6rem;
}

/* =======================================
 post#1
========================================*/
#post1 {
}
#post1 .caption {
  width: 30%;
  background-color:#212226;
}
#post1 .caption .meta {
  float: left;
  padding-left: 1rem;
  color: #808080;
}
#post1 .caption .text {
}
#post1 .img-container {
  width: 70%;
}
#post1 .category {
  position: absolute;
  top: 10%;
  right: 0;
  padding: .5rem;
  background-color: #808080;
  z-index: 5;
}

/*=== Large devices (desktops, 992px and up) ===*/

/* =======================================
 post#2
========================================*/
#post2 {
}
#post2 .caption {
  width: 30%;
  background-color: #fff;
  color: #212226;
}
#post2 .img-container {
  width: 70%;
}
#post2 .author .avatar {
  float: none;
  width: 5rem;
  margin: 1rem;
}
#post2 .caption .text {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #212226;
}

/* =======================================
 post#3
========================================*/
#post3 {
}
#post3 .author {
  padding: 2rem;
  z-index: 5;
}
#post3 .author .meta {
  float: left;
  padding-left: 1rem;
}
#post3 .caption {
  width: 70%;
  background-color:#212226;
  color: #fff;
}
#post3 .img-container {
  width: 30%;
}
#post3 .img-container .img {
  position: absolute;
  top: 0;
}
#post3 .caption .text {
  position: absolute;
  top: 50%;
  padding: 2rem;
  transform: translate(0, -50%);
  color: #ddd;
}
#post3 .caption .category {
  margin-top: 1rem; 
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400; 
}

/* =======================================
 post#4
========================================*/
#post4 {
}
#post4 .author {
  z-index: 5;
}
#post4 .caption {
  width: 60%;
  background-color:#fff;
  color: #212226;
}
#post4 .author {
  margin-top: 1rem;
}
#post4 .author .meta {
  float: left;
  padding-left: 1rem;
}
#post4 .img-container {
  width: 40%;
}
#post4 .img-container .img {
  position: absolute;
  top: 0;
}
#post4 .caption .text {
  position: absolute;
  top: 50%;
  padding: 2rem;
  transform: translate(0, -50%);
  color: #212226;
}
#post4 .category {
  position: absolute;
  top: 5%;
  right: 2rem;
  padding: .5rem;
  z-index: 5;
  color: #808080;
  display: inline-block;
}
#post4 .category::before {
  content:'';
  position: absolute;
  top: -40%;
  left: 100%;
  width: 2rem;
  height: 100%;
  display: inline-block;
  margin-right: 100%;
  border-bottom: 2px solid #000;
}

/* =======================================
 post#5
========================================*/
#post5 {
}
#post5 .caption {
  width: 30%;
  background-color:#212226;
  color: #fff;
}
#post5 .author {
  z-index: 5;  
}
#post5 .author .meta {
  float: left;
  padding-left: 1rem;
  color: #ddd;
}
#post5 .images-container {
  position: relative;
  float: left;
  height: inherit;
  width: 70%;
  padding: 5%;
  background-color: #212226!important;
}
#post5 .images-container .img {
  width: 50%;
  height: 50%;
  float: left;
  opacity: .5;
}
#post5 .images-container .img:hover {
  opacity: 1;
}
#post5 .caption .text {
  color: #ddd;
}

/*=== Large devices (desktops, 992px and up) ===*/


/* =======================================
demo css
========================================*/

/*=== for demo only ===*/
.demo-title {
  text-align: center;
  color: #808080;
  padding-top: 20vh;
  padding-bottom: 20vh;
}
.post {
  box-shadow: 2px 2px 2px 2px #ddd;
}
.demo-more {
  text-align: center;
  color: #808080;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.demo-more i {
  color: #696969;
}
.update-note {
  position: absolute;
  top: 2%;
  left: 2%;
  background-color: rgb(33, 33, 33);
  color: #fff;
  border-radius: 10px;
  padding: 0 15px;  
}
a {
  text-decoration: underline;
  color: #696969;
  font-weight: 600;
}
a:hover {
  color: #696969;
}
body {
  overflow-x: hidden;
}
